<h1 class="centertitle">Hi-Lo</h1>

<div class="messages">
  <p>Please enter your bet:</p>
<form action='/hilo' method='POST'>
  <input type='text' name='@bet'>
  <input type='submit' name='submit'>
</div>
